:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
background-image: linear-gradient(rgb(52, 187, 244), rgb(2, 7, 95));
}

body {
   margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
    
}

html {
  scroll-behavior: smooth;
}

.whiteBg {
  background-color: rgba(255, 255, 255, 0.518);
  text-align: center;
}


    .stop {
    position: fixed;
    color: blue;
  }

      button:hover {
        cursor: pointer;
    }
    button {
        margin: 2em;
        font-size: 16px;
        display: block;
        margin: auto;
                width: 25%;
        background-color: #21b0f3;
        color: #0a0909;
        border: solid #67cef3 3px;
        border-radius: 20px;
        padding: 30px;
        box-shadow: 8px 8px #8aa6df;
    }